.destaques {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.receitas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.receitas div {
  margin-bottom: 1rem;
}

.destaques h2 {
  text-align: center;
  font-size: 18px;
  color: var(--color-secondary-text);
  padding: 1.5rem 0 1rem 0;
}

.destaques a {
  font-size: 12px;
  font-weight: 300;
  text-align: right;
  width: 80vw;
  padding: 1rem 0;
}

.destaques p {
  font-size: 14px;
  color: var(--color-secondary-text);
}

@media screen and (min-width: 768px) {
  .destaques {
    width: 80vw;
    margin: 0 auto;;
  }

  .receitas {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
  }
}


@media screen and (min-width: 2560px) {
  .destaques {
    width: 60vw;
    margin: 0 auto;
  }

  .destaques a {
    width: 60vw;
  }

  .receitas {
    width: 60vw;
  }
}

