.fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}

.fieldset div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fieldset label {
  padding: 1rem 0 1rem 0.5rem;
  color: var(--color-main-text);
  font-family: var(--font-main);
  font-weight: 400;
}

.fieldset input {
  background-color: var(--color-white);
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 16px;
}

.fieldset input:focus {
  border-color: var(--color-main-orange);
}

.error {
  color: var(--color-secondary-text);
}

.fieldset .action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5rem;
}

.form-title {
  padding: 0 0 3rem 0;
  font-family: var(--font-styled);
}

.form-title h2 {
  font-size: 20px;
  text-align: center;
}

.fieldset h3 {
  padding: 1.5rem 0;
  font-family: var(--font-styled);
  font-size: 18px;
}

.fieldset .preferences {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.fieldset .preferences div {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .fieldset label {
    font-size: 18px;
  }

  .fieldset input {
    font-size: 18px;
  }

  .fieldset h3 {
    font-size: 25px;
  }
  
  .fieldset .preferences {
    padding: 1rem 0;
  }
  
  .fieldset .preferences div {
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .fieldset label {
    font-size: 20px;
  }

  .fieldset input {
    font-size: 20px;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 2000px) {
  .fieldset {
    padding: 2rem;
  }
}