.form-container {
  margin-top: 90px;
  font-family: var(--font-main);
  padding: 3rem 2rem;
  min-height: 80vh;
}

.action {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

@media screen and (min-width: 768px) {
  .form-container {
    margin-top: 150px;
    padding: 4rem 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .form-container {
    padding: 4rem 3rem;
    width: 80vw;
    margin: 180px auto 0;
  }
}

@media screen and (min-width: 2000px) {
  .form-container {
    padding: 4rem 3rem;
    width: 60vw;
    margin: 180px auto 0;
  }
}
