.signup {
  width: 90vw;
  margin: var(--navbar-size-s) auto 0;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-title {
  padding: 2rem 0;
  font-family: var(--font-styled);
}

.form-title h2 {
  font-size: 20px;
  text-align: center;
  color: var(--color-secondary-text);
}

.fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  padding-bottom: 1rem;
}

.fieldset p {
  font-size: 12px;
}

.fieldset div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fieldset label {
  padding: 1rem 0 1rem 0.5rem;
  color: var(--color-main-text);
  font-family: var(--font-main);
  font-weight: 400;
}

.fieldset input {
  background-color: var(--color-white);
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 16px;
}

.fieldset input:focus,
.fieldset input:active {
  border-color: var(--color-main-orange);
}

.error {
  color: var(--color-secondary-text);
}

.fieldset .action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;
}

@media screen and (min-width: 768px) {
  .signup {
    width: 80vw;
    margin: var(--navbar-size-m) auto 0;
    min-height: 70vh;
  }

  .fieldset label {
    font-size: 18px;
  }

  .fieldset input {
    padding: 1rem;
  }

  .form-title h2{
    font-size: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .form-title {
    padding: 3rem 0;
  }

  .fieldset label {
    font-size: 22px;
  }

  .fieldset input {
    font-size: 20px;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  .signup {
    width: 80vw;
    margin: var(--navbar-size-l) auto 0;
  }

  .fieldset .action {
    padding: 3rem 0 2rem;
  }
 
}

@media screen and (min-width: 2000px) {
  .signup {
    width: 60vw;
  }

  .fieldset .action {
    padding: 3rem 0 2rem;
  }
}